select,
button,
input {
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input {
  padding: 10px;
}
button {
  background-color: #a687fa;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #5f3dc4;
}

textarea {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
