.ingredientsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin: 0 auto;
  background-color: #ffffff;
}

.ingredientItem {
  margin: 3px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.instructions {
  white-space: pre-wrap;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
}

