.help-header {
  color: #333;
  font-weight: 300;
  font-size: 26px;
  margin-bottom: 31px;
}

.search-container {
  display: flex;
  margin: 0 auto;
  background-color: #f4f3fa;
  border-radius: 8px;
  padding: 30px 80px;
}

.topics-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  row-gap: 30px;
  background-color: #f9f8fd;
}

body {
  font-family: "Rubik", sans-serif;
  color: #333;
  background-image: linear-gradient(to right, #e5dbff, #f3f0ff);
  padding: 10px 20px;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #aa8ffc;
}
